<script type="text/html" id="treeItemTemplate">
    <div class="styled_tree accordion">
        <div class="title" data-bind="click: onClick">
            <i class="dropdown icon"></i> {{label}}
        </div>
        <div class="content">
            <div data-bind="template: { name: 'treeItemTemplate', foreach: SubCategory }"></div>
        </div>
    </div>
</script>

<script type="text/html" id="treeItemTemplate_Root">
    <div class="ui fluid styled_tree accordion">
        <div class="title" data-bind="click: onClick">
            <i class="dropdown icon"></i> {{label}}
        </div>
        <div class="content">
            <div data-bind="template: { name: 'treeItemTemplate', foreach: SubCategory }"></div>
        </div>
    </div>
</script>

<script type="text/html" id="category_tree_view">
    <div class="treemenu">
        <div data-bind="template: { name: 'treeItemTemplate_Root', foreach: $data }"></div>
    </div>
</script>