<script type="text/html" id="contentpreview_view">
    <div id="ContentPreviewView-container" class="ui segment img-container--object-fit">
        <img style="ui centered image" data-bind="src: [contentPreview.contentSourceUri]">
    </div>
</script>