@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<script type="text/javascript">
  /**
   * categoryId : 表示したいカテゴリ情報
   */
  function showContentListPanelByCategory(categoryId) {
    iframe = document.getElementById("PAST_MAINBODY"); // stellaアプリケーションの、外部公開APIを呼び出す
    iframe.contentWindow.changeContentListByCategory(categoryId);
  }

  const { ipcRenderer } = nodeRequire("electron");

  function getIpc() {
    return ipcRenderer;
  }

</script>
}

<div class="flexbox-parent">
  <div class="flexbox-item header">
    Header
  </div>

  <div class="d-flex justify-content-between flexbox-item fill-area content flexbox-item-grow">
    <div class="w-25 flexbox-item fill-area content flexbox-item-grow" style="flex-grow: 0.3">
      <div class="fill-area-content flexbox-item-grow" style="overflow: hidden">
        <iframe id="PAST_LEFT" width="100%" height="100%" src="pioneer/index.html"　frameborder="0"　scrolling="auto"></iframe>
      </div>
    </div>
    <div class="w-50 flexbox-item fill-area content flexbox-item-grow">
      <div class="fill-area-content flexbox-item-grow" style="overflow: hidden">
        <iframe id="PAST_MAINBODY" width="100%" height="100%" src="stella/index.html"　frameborder="0"　scrolling="auto"></iframe>
      </div>
    </div>
    <div class="w-25 flexbox-item fill-area content flexbox-item-grow" style="flex-grow: 0.3">
        <div class="fill-area-content flexbox-item-grow" style="overflow: hidden">
            
          </div>
    </div>
  </div>

  <div class="flexbox-item footer">
    Footer
  </div>
</div>