@{
    ViewData["Title"] = "Home Page";
}

<div class="flexbox-parent">
  <div class="flexbox-item header">
    Header
    <div class="alert alert-primary" role="alert">
      This is a primary alert—check it out!
    </div>
  </div>

  <div class="d-flex justify-content-between flexbox-item fill-area content flexbox-item-grow">
    <div class="w-25">
      子要素1
    </div>
    <div class="w-50 flexbox-item fill-area content flexbox-item-grow">
      <div class="fill-area-content flexbox-item-grow" style="overflow: hidden">
        
      </div>
    </div>
    <div class="w-25 flexbox-item fill-area content flexbox-item-grow" style="flex-grow: 0.3">
        <div class="fill-area-content flexbox-item-grow" style="overflow: hidden">
            
          </div>
    </div>
  </div>

  <div class="flexbox-item footer">
    Footer
  </div>
</div>