<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pixstock.Nc.App</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/categoryTree.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    <environment include="Development">
        <script>
            //ElectronNET環境でjQueryを使うために必要
        window.nodeRequire = require;
        delete window.require;
        delete window.exports;
        delete window.module;
        </script>

        <script src="~/lib/jquery/jquery.slim.js"></script>
        <script src="~/lib/bootstrap/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script>
            //ElectronNET環境でjQueryを使うために必要
        window.nodeRequire = require;
        delete window.require;
        delete window.exports;
        delete window.module;
        </script>

        <script src="~/lib/jquery/jquery.slim.js"></script>
        <script src="~/lib/bootstrap/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
