@media (min-width: 576px) {
    .card-deck {
        .card-body {
            padding: 0;
        }
        .card {
            min-width: 100px;
            max-width: 100px;
            
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 0;
            margin-bottom: 8px;
        }
    }
}