.treemenu {
  float: left;
  width: 300px;
  max-height: 100%;
  overflow: auto;
}
.treemenu.boxed {
  background: #fff;
  /*border-radius: .35rem;*/
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
.treemenu.boxed .ui.styled_tree.accordion > .title:not(:first-child) {
  border-top: 1px solid rgba(39, 41, 43, 0.15);
}

.ui.styled_tree.accordion,
.ui.styled_tree.accordion .accordion {
  background: inherit;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.ui.styled_tree.accordion .accordion .title,
.ui.styled_tree.accordion .accordion .accordion .title,
.ui.styled_tree.accordion .title,
.ui.styled_tree.accordion .accordion .title {
  font-size: 0.8em;
  border-top: none;
  margin-left: 0;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.ui.styled_tree.accordion .content {
  padding: 0;
}
.ui.accordion:not(.styled) .title ~ .content:not(.ui){
  padding: 0;
}

.ui.styled_tree.accordion .accordion .content,
.ui.styled_tree.accordion .accordion .accordion .content,
.ui.styled_tree.accordion .content,
.ui.styled_tree.accordion .accordion .content {
  margin-left: 1.75rem;
  padding: 0;
}
.ui.styled_tree.accordion .accordion .content .subtitle,
.ui.styled_tree.accordion .accordion .accordion .content .subtitle,
.ui.styled_tree.accordion .content .subtitle,
.ui.styled_tree.accordion .accordion .content .subtitle {
  margin: 0 1.75rem 0 0;
  /* padding: .35em 0; */
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}
.ui.styled_tree.accordion .accordion .content .subtitle.hide,
.ui.styled_tree.accordion .accordion .accordion .content .subtitle.hide,
.ui.styled_tree.accordion .content .subtitle.hide,
.ui.styled_tree.accordion .accordion .content .subtitle.hide {
  display: none;
}
